* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freight big pro ";

}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    background-color:#000;
}

#loader {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    /* display: none; */
}

#loader h1 {
    font-size: 6vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
    position: relative;
    z-index: 9;
}

#yellow1 {
    height: 100%;
    width: 100%;
    background-color:#f5e418;
    position: absolute;
    z-index: 8;
}
#yellow2 {
    height: 100%;
    width: 100%;
    background-color:#f5e418;
    position: absolute;
    z-index: 7;
}

#loader video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}

#nav {
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav svg path {
    fill: black;
}

#nav div {
    display: flex;
    gap: 100px;
    text-transform: uppercase;
    font-size: 1.3vw;
    align-items: center;    
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #f5e418;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 6;
}

#page1 h1 {
    font-size: 6vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    background-size: cover;
    background-position: center;
    transition: all ease .5s;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.elem {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem h2 {
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 100;
    transition: all ease .3s;
    position: relative;
    font-style: normal;
    z-index: 9;
    line-height: 5vw;
}

.elem .blur {
    position: absolute;
    width: 30%;
    background-color:#f5e418;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #f5e31bf0, #f5e418, #f5e31bf6);
    box-shadow: 10px 0px 20px 20px #f5e418, -10px 0px 20px 100px #f5e418;
    height: 100%;
    z-index: 8;
}

.elem h2:hover {
    font-style: italic;
    color: black;
}

.elem .moving {
    background-color: #f5e418;
    width: 100%;
    white-space: nowrap;
    padding: 8px 0;
    overflow: hidden;
    position: absolute;
    top: 75%;
    transform: translate(0, -50%) scaleY(0);
    transition: all ease .3s;
}

.elem .moving .moving-in {
    white-space: nowrap;
    display: inline-block;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.elem .moving .moving-in h5 {
    color: #000;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    transition: all ease .3s;
    transition-delay: .2s;
    font-family: 'Gilroy';
    text-transform: uppercase;
    margin-right: 35px;
    opacity: 0;
}

.elem:hover .moving {
    transform: translate(0, -100%) scaleY(1);
}
.elem:hover .moving .moving-in h5 {
    opacity: 1;
}

@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;

}

.image-container {
    /* padding: 30px; */
}

.image-div {
    height: auto;
    width: 30vw;
    overflow: hidden;
    position: relative;
    margin: 20px;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease .5s ;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:#000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease .5s;
    z-index: 9;
}

.overlay p {
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    font-size: 2.5vw;
    line-height: 2.5vw;
}

.image-div:hover .overlay{
    opacity: 1;
}

.image-div:hover img {
    transform: scale(1.1);
}

#footer {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 30vh;
    gap: 40px;
}

#footer h2 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

#footer i {
    font-size: 2vw;
}

#foot {
    background-color: #000;
    height: 50%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    text-transform: uppercase;
}
#foot div {
    display: flex;
    gap: 40px;
}